*,
* ::after,
* ::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%; // 16px % 62.5 = 10px
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}